body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #3A3E3E;
  color: #fff;
  text-shadow: none;
}

h2,
h3,
p {
  margin: 0;
}

.overlay-header {
  align-items: center;
  background: url('./bg.jpg') no-repeat center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.oh-title {
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
}

.oh-sub {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  z-index: 3;
}

.install {
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
  z-index: 4;
}

.nm {
  margin-top: 5px;
}

.overlay-header:after {
  background: #FF512F;
  background: -webkit-linear-gradient(to left, #FF512F , #DD2476);
  background: linear-gradient(to left, #FF512F , #DD2476);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
