* {
  box-sizing: border-box;
}

::selection {
  background: #3a3e3e;
  color: #fff;
  text-shadow: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #212529;
  line-height: 1.5;
}
